# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env
models.txt

# Node
node_modules/
dist/
dist-ssr/
*.local

# Editor
.vscode/
.idea/
*.swp
*.swo

# Project specific
backend/.env
frontend/node_modules/
